.textInPage {
  color:rgb(131, 36, 219);
  border: 1px solid blue;
  font-size:x-small;
}

h1{
  color:brown;
    text-align: center;
}

body{
  background-color: beige;
  margin: 25px;
  width: 400px;
  
  @media(max-width: 600px) /*adjust to small screens*/
  width:100%; 
}

#sub-whereDreams{
  text-align: left; /*It didn't work*/
}

nav{
  color:brown;
}